<h2 id="patrocinadores">PATROCINADORES</h2>
<table>
    <tr>
        <td><a href="https://www.catnix.net/es/"><img src="/gore30/img/catnix-200.jpg" alt="Catnix"></a></td>
        <td><a href="http://espanix.es"><img src="/gore30/img/logo_espanix_200.png" alt="Espanix"></a></td>
        <td><a href="https://mercadoit.com"><img src="/gore30/img/Logo-MERCADOIT_200.png" alt="MercadoIT"></a></td>
		<td><a href="https://www.global.ntt"><img src="/gore30/img/NTT_200.jpg" alt="NTT"></a></td>
    </tr>
    <tr>
		<td><a href="https://https://opengear.com"><img src="/gore30/img/opengear_200.png" alt="Opengear"></a></td>
        <td><a href="https://ripe.net"><img src="/gore30/img/RIPE_NCC_Logo_200.png" alt="RIPE"></a></td>
        <td><a href="https://www.solid-optics.com"><img src="/gore30/img/SO_Logo_200.png" alt="Solid Optics"></a></td>
        <td><a href="https://tecnocratica.net"><img src="/gore30/img/tecnocratica_200.png" alt="Tecnocratica"></a></td>
    </tr>
    <tr>
		<td><a href="https://www.upc.edu/ca"><img src="/gore30/img/UPC_200.jpg" alt="UPC"></a></td>
    </tr>
</table>
<style>
 td, th, tr, table {
    border: 0 !important;
    border-spacing:0 !important;
  }
</style>